@import "variables";

body{
    background-color: $back_ground_color;
}

header{
    position: relative;
}

h1{
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1,p,h2, li{
    color: $line_color;
}

header a{
    margin-left: 40px;
    font-size: 20px;

}

ul{
    margin-top: 50px;
}