body {
  background-color: #272727;
}

header {
  position: relative;
}

h1 {
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1, p, h2, li {
  color: white;
}

header a {
  margin-left: 40px;
  font-size: 20px;
}

ul {
  margin-top: 50px;
}
