section {
  margin-top: 2%;
  margin-bottom: 2%;
}
section .hobbies div {
  width: 25%;
  background-color: gray;
  float: left;
  border: solid 1px;
  border-color: white;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  height: 250px;
}
section .galeria div {
  width: 25%;
  background-color: gray;
  float: left;
  border: solid 1px;
  border-color: white;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  height: 300px;
  position: relative;
}

section .hobbies::after, section .galeria::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1020px) {
  section .hobbies div {
    width: 50%;
  }
  section .galeria div {
    width: 50%;
  }
  section .galeria div img {
    width: 35%;
  }
}
@media screen and (max-width: 700px) {
  section .hobbies div {
    width: 100%;
  }
  section .galeria div {
    width: 100%;
  }
  section .galeria div img {
    width: 28%;
  }
}
