body {
  background-color: #272727;
}

img {
  width: 250px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -120%);
}

strong {
  font-size: 50px;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

body span {
  font-size: 20px;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 110%);
}
