hr{
    margin-bottom: 2%;
    position: relative;
}

div{
    text-align: center;
    position: relative;
}

div strong{
    font-size: 50px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 90%);
}

section .image{
    margin-top: 10%;
}

img{
    width: 200px;
}
