@import "variables";

body{
    background-color: $back_ground_color;
}

@mixin center{
    top: 50%;
    left: 50%;
    position: absolute;
}

img{
    width: 250px;
    @include center();
    transform: translate(-50%, -120%);
}

strong{
    font-size: 50px;
    color: $line_color;
    @include center();
    transform: translate(-50%, -50%);
}

body span{
    font-size: 20px;
    color: $line_color;
    @include center();
    transform: translate(-50%, 110%);
}