.cargando img{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20%;
}

a img{
    width: 70px;
    margin: 5px;
}

.contenido{
    margin-left: 80px;
}