<header>
    <a href="/">regresar</a>
    <h1>Resultados de búsqueda</h1>
</header>


<ul>
  {{#each articles}}
    <li>
        <hr>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <a href="{{this.url}}" target="_blank">Leer más</a>
    </li>
  {{/each}}
</ul>