@import "variables";

body{
    background-color: $back_ground_color;
}

header{ 
    position: relative;    
}

h1{
    text-align: center;
    color: $line_color;
}

aside{
    text-align: left;
    margin-left: 5px;
}

section .hobbies div i{
    margin-top: 5px;
    font-size: 25px;
}

@mixin image{
    margin-top: 8px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    @content;
}

section .galeria div img{
    @include image{
        width: 50%;
    }
}

footer{
    @extend header;

    i{
        @include image{
            float: left;
        }
    }
}
